.navbar{
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: #ff6060;
    font-weight: 700;
    gap: 2rem;
}

@media screen and (width <= 768px) {
    .navbar {
        text-transform: uppercase;
        font-weight: 400;
    }
}

.navbar a {
    text-decoration: none;
    color: #ff6060;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a.active {
    text-decoration: underline;
}

.navbar *:first-child{
    margin-right: auto;
}

@media screen and (width <= 425px) {
    .navbar__logo img {
        width: 140px;
    }
    .navbar__accueil {
        font-size: 10px;
    }
    
    .navbar__propos {
        font-size: 10px;
    }
   
}

@media screen and (width <= 320px) {
    .navbar__logo img {
        width: 100px;
    }
    .navbar__accueil {
        font-size: 10px;
    }
    
    .navbar__propos {
        font-size: 10px;
    }
   
}




