.banner{
    position: relative;
    padding-inline: 0 2rem;
    background-image: url("/public/banner.png");
    color: white;
    min-height: 140px;
    margin: auto;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
    max-width: 100%;
}

.banner::before {
    position: absolute;
    border-radius: 2rem;
    content: "";
    inset: 0;
    opacity: 0.5;
}

h2 {
    font-weight: lighter;
}